@import "../../_globalColor";

.dev-icons {
  display: flex;
  flex-wrap: wrap;
  gap: 30px; // Gives space between icons
  padding-left: 0;
  list-style: none;
  font-size: 3rem;
  margin: 0;
  text-align: center;
}

.software-skill-inline {
  display: inline-flex;
  flex-direction: column; // Stack icon and text vertically
  align-items: center; // Center the text below the icon
  margin-right: 20px;
  margin-bottom: 20px;
}

.software-skill-inline > i {
  color: $subTitle;
}

.software-skill-inline > i:hover {
  color: $skillsColor;
}
.software-skill-inline > p {
  color: $subTitle;
  font-size: 20px;
}
.software-skill-inline > i:hover ~ p {
  color: $skillsColor;
}
/* Add media query for mobile devices */
@media screen and (max-width: 767px) {
  .dev-icons {
    justify-content: center;
  }
}
