/* Change colors in this file to style to your needs on a global level. 
Certain colors are used for different and multiply types of elements. 
For greater control over colors visit each components .scss file. */

// button colors
$buttonColor: #55abdc; // professional blue
$buttonHover: #55abdc; // updated hover color
$topButtonHover: #343a40; // dark gray

// text colors light theme
$titleColor: #212529; // dark gray
$textColor: #212529; // dark gray
$subTitle: #6c757d; // gray
$cardSubtitle: #495057; // slightly darker gray
$talkCardSubTitle: #adb5bd; // light gray
$blogCardTitleColor: #343a40; // dark gray

// text color dark theme
$textColorDark: #212529; // dark gray

// toggle switch colors
$toggleCheck: #28a745; // green
$toggleSwitchSliderBG: #ced4da; // light gray

// githubRepo specific colors
$githubRepoCardLanguageColorBG: #0077b5; // blue
$githubRepoCardColor: #586069; // gray
$githubRepoCardRepoCardStatsColor: #6c757d; // gray
$githubRepoCardRepoNameColor: #343a40; // dark gray
$githubProfileCardLocationTS: #ffc107; // yellow
$githubProfileCardBorder: #0077b5; // blue

// light background colors
$lightBackground1: #ffffff; // white
$lightBackground2: #f8f9fa; // light gray
$lightBackground3: #e9ecef; // lighter gray
$blogCardContainerColor: #f8f9fa; // light gray

// dark background colors
$darkBackground: #ffffff; // white

// light theme box shadows
$lightBoxShadowDark: rgba(0, 0, 0, 0.15); // lighter shadow
$lightBoxShadow: rgba(0, 0, 0, 0.05); // very light shadow
$lightBoxShadowDarker: rgba(0, 0, 0, 0.25); // darker shadow

// dark theme box shadows
$darkBoxShadow: rgba(0, 0, 0, 0.05); // very light shadow
$darkBoxShadow2:rgba(0, 0, 0, 0.25); // darker shadow

// linear gradients
$experienceCardBlurredDivLG: linear-gradient(
  rgba(0, 0, 0, 0.4),
  rgba(0, 0, 0, 0.2)
);
$experienceCardBannerLG: linear-gradient(
  rgba(0, 0, 0, 0.7),
  rgba(0, 0, 0, 0.5)
);

// borders
$progressBarBackground: rgb(233, 236, 239); // light gray
$lightBorder1: rgba(173, 181, 189, 0.5); // gray
$educationCardBorder: rgba(173, 181, 189, 0.5); // gray

// hovers
$achievementCertificateCardHoverDark: rgba(255, 255, 255, 0.2); // light shadow
$blogCardHoverSmallColor: rgba(255, 255, 255, 0.8); // light shadow
$headerHoverBG: #e9ecef; // light gray
$contactDetailHoverTS: #adb5bd; // light gray

// misc backgrounds
$progressBarSpanBG: #6f42c1; // purple
$iconBackground: #343a40; // dark gray
$appHeaderBG: #212529; // dark gray

// misc colors
$skillsColor: #007bff; // blue
$appLink: #17a2b8; // teal

// social media icons
$faceBook: #3b5998; // blue
$linkedin: #0077b5; // blue
$github: #ccc; // dark gray
$gitlab: #fc6d26; // orange
$google: #db4437; // red
$twitter: #1da1f2; // blue
$medium: #00ab6c; // green
$stackoverflow: #f48024; // orange
$instagram: #e4405f; // pink
$kaggle: #20beff; // blue